* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden; /* Prevents scrolling */
    background-color: #f4f4f4;
}


header {
    display: flex;
    align-items: center;
    background-color: #3F5268;
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.logo-container {
    background-color: #2E2E2E;
    width: 250px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    height: 100%;
}

.logo {
    color: white;
    font-size: 0.9rem;
    font-weight: bold;
    line-height: 1.2;
}

.header-main {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.notification img {
    width: 20px;
    cursor: pointer;
}


.sidebar {
    width: 250px;
    background-color: #2F2828;
    color: white;
    height: calc(100vh - 50px); /* Full height minus header */
    padding: 15px;
    position: fixed;
    top: 50px;
    left: 0;
    overflow-y: auto;
}

.profile-box {
    display: flex;
    align-items: center;
    padding: 20px 10px;
    border-bottom: 1px solid #555;
}


.profile-box img {
    width: 65px;
    border-radius: 50%;
    margin-right: 15px;
}

.status {
    color: limegreen;
    font-size: 0.9rem;
}

.menu {
    list-style: none;
    padding: 10px 0;
}

.menu li {
    padding: 8px;
}

.menu li a {
    text-decoration: none;
    color: white;
    display: block;
}

.menu li.active {
    background-color: #444;
}

.printables-title {
    font-weight: bold;
    margin-top: 15px;
    padding: 8px;
}

.logout {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.logout a {
    color: white;
    text-decoration: none;
}

article {
    flex-grow: 1;
    display: flex;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    height: 100vh;
}

.main-content {
    margin-left: 250px; 
    margin-top: 50px; 
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

footer {
    background-color: #3F5268;
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}
