* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("/PAYROLL/assets/background/Log\ In\ Page.jpg");
  height: 100vh;
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}


.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 900px;
  margin-left: 40%;
}

.box{
  background: rgba(231, 231, 231, 0.9);
  display: flex;
  flex-direction: column;
  padding: 25px 25px;
  border-radius: 20px;
  box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),
              0 32px 64px -48px rgba(0,0,0,0.5);
}

.form-box{
  height: 550px;
  width: 600px;
  margin: 0px 10px;
}

.form-box header{
  text-align: center;
  font-size: 43px;
  font-weight: 600;
  padding-bottom: 10px;
  margin-top: 75px;
  margin-bottom: 50px;
}

.form-box form .field{
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  font-weight: 600;

}

.form-box form{
  display: flex;
  flex-direction: column;
  margin-left: 130px;
}

.form-box form .input input{
  height: 40px;
  width: 70%;
  font-size: 16px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;

}

.field .btn{
  font-family: 'Poppins', sans-serif;
  width: 70%;
}

.btn{
  height: 35px;
  background: rgba(1,144,49);
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s;
  margin-top: 10px;
  padding: 0px 10px;
}

.btn:hover{
  opacity: 0.8;
}

.submit{
  width: 60%;
}

.links{
  width: 70%;
  text-align: right;
}

.links a{
  color: #333;
  margin: 0 5px;
  text-decoration: none;
  font-weight: 600;
}

#error-message {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffebee;
  color: #c62828;
  padding: 15px 25px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  text-align: center;
  font-size: 14px;
  width: auto;
  max-width: 90%;
  opacity: 1; 
  transition: opacity 0.5s ease-out, transform 0.5s ease-out; /* Smooth transition */
}


@keyframes slideIn {
  from {
      opacity: 0;
      transform: translateX(-50%) translateY(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(-50%) translateY(0);
  }
}

#error-message {
  animation: slideIn 0.3s ease-out; 
}

#error-message.fade-out {
  opacity: 0; /* Fade out */
  transform: translateX(-50%) translateY(-20px); 
}