/* Default submenu background */
.ant-menu-sub {
    background: #1D3863 !important;
  }
  
  /* Submenu background when expanded */
  .ant-menu-submenu-expanded .ant-menu-sub {
    background: #0D1F3C !important;
  }
  
  /* Ensure specificity for inline mode and dark theme */
  .ant-menu-dark.ant-menu-inline .ant-menu-sub {
    background: #1D3863 !important;
  }
  .ant-menu-dark.ant-menu-inline .ant-menu-submenu-expanded .ant-menu-sub {
    background: #0D1F3C !important;
  }

  /* Sidebar.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #0D1F3C; /* Track color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #A9BADA; /* Thumb color */
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #DCEFFF; /* Thumb color on hover */
}
